<li class="contact-list row" [class.favourite]="contact().isFavorite===true">
    <a class="datosContacto" [routerLink]="'contacts/' + contact().id"><span>{{contact().firstName}} {{contact().lastName}}</span></a>
    <span class="datosContacto">{{contact().number}}</span>
    <span class="datosContacto">{{contact().email}}</span>
    <span class="datosContacto">-</span>
    <span class="acciones">
         @if(contact().isFavorite===true){
        <p>⭐</p> 
    }
        <button class="botonBorrar" (click)="openDeleteModal()">Borrar</button>
        <a class="botonEdit" [routerLink]="['/contacts',contact().id, 'edit']">Editar</a>
    </span>
</li>
