<li class="contact-list row" [class.favourite]="contact().isFavorite===true">
    <span>{{contact().firstName}} {{contact().lastName}}</span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span>-</span>
    <span class="acciones">
         @if(contact().isFavorite===true){
        <p>⭐</p> 
    }
        <button class="botonBorrar" (click)="openDeleteModal()">Borrar</button>
        <a class="botonEdit" [routerLink]="['/contacts',contact().id, 'edit']">Editar</a>
    </span>
</li>
