.favourite{
    font-weight: bold;
}
.contact-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-list > *{
    word-break: break-all;
    display: flex;
    align-items: center;
    padding: 10px;
}
.botonBorrar{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 2px;
    color: rgba(51, 83, 121, 0.664);
    background-color: lavender;
}
.botonEdit{
    color: rgba(51, 83, 121, 0.664);
    font-weight: 600;
    margin: 2px;
}
.acciones{
    display: block;
    margin-right: 17px;
}