
#container-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef1fa;
  padding: 20px 40px;
  border-radius: 15px;
  margin-right: 28rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); //aclaro, esta parte me ayude con chat gpt para que quede bien el box shadow 
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: rgba(51, 83, 121, 0.8);
  justify-content: space-between;
}
.return-link{
  color: rgba(51, 83, 121, 0.8);
  font-weight: 600;
  font-size: larger;
  transform: translateX(-10rem);
}
.return-link:hover{
  cursor: pointer;
  color: #d7ddf0;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.details {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

button{
  border-radius: 10px;
  padding: 6px 12px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(212, 224, 236, 0.822);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button:hover{
  background-color: rgba(51, 83, 121, 0.664);
  color: white;
}
.edit-link{
    border-radius: 10px;
    padding: 6px 12px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(212, 224, 236, 0.822);
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.edit-link:hover{
    background-color: rgba(51, 83, 121, 0.664);
    color: white;
}
.contact-pic{
  border-radius: 50px;
  width: 90px;
}