
.botones{
    text-decoration: none;
    color: rgb(77, 72, 72);
}
button{
    width: 5rem;
    background-color: lavender;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sidebar{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 1rem;
}
router-outlet{
    flex-grow: 1;
    height: 100%;
}