.sections{
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.botones{
    text-decoration: none;
    color: rgb(77, 72, 72);
}
#upperBar{
    box-sizing: border-box; 
}
#sidebar{
    display: flex;
    flex-direction: column;
    margin: none;
    margin-left: -12rem;
}