h2{
    color: rgba(51, 83, 121, 0.664);
}
label{
    color: rgba(51, 83, 121, 0.664);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}
input{
    border-radius: 15px;
    border: none;
    background-color: rgba(155, 185, 219, 0.664);
    padding: 7px;
    margin: 5px;
}
button{
    background-color: rgba(155, 185, 219, 0.664);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(51, 83, 121, 0.664);
    border-radius: 15px;
    padding: 8px;
    font-size: medium;
    font-weight: 450;
    margin: 10px;
}
button:hover{
    background-color: rgba(209, 209, 228, 0.747);
}
#main-container{
    margin-left: -50rem; // no podia correrlo de otra forma je 
}
